<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/investor.css">
	<title>Investments Overview</title>
</head>
<body>
  <div class="title">
	<h1>Investments Overview</h1>
  </div>

<div class="box">

  <div class="card">
    <h4 class="card-header">Current Offering</h4>
        <ul>
          <%for (let i = 0; i < bonds.length; i++) {%>
          <%if (bonds[i].issued === false) {%>
            <li>
              <div>
                <%=bonds[i].bondName.toUpperCase()%> Bond: Par Value of $<%=bonds[i].principle%>, reaching maturity in <%=bonds[i].maturity%> months, and with a monthly coupon of $<%=bonds[i].coupon%>. Created: <%=bonds[i].date.toLocaleString()%>
              </div>
            </li>
            <form action="/bonds?_method=PUT" method="POST">
              <input type="hidden" name="bondId" value="<%=bonds[i]._id%>" class="action-button">
              <input type="hidden" name="investorId" value="<%=investor._id%>">
              <button>Add</button>
            </form>


          <%}%>
         <%}%>
        </ul>
  </div>
  
  <div class="card">    
      <h4 class="card-header">Current Portfolio</h4>
        <ul>
          <%for (let i = 0; i < bonds.length; i++) {%>
          <%if (bonds[i].issued === true && bonds[i].user == investor.id) {%>
            <li>
              <div>
              <%=bonds[i].bondName.toUpperCase()%> Bond: Par Value of $<%=bonds[i].principle%>, reaching maturity in <%=bonds[i].maturity%> months, and with a monthly coupon of $<%=bonds[i].coupon%>. Created: <%=bonds[i].date.toLocaleString()%>
              </div>
            </li>
            
            <form method="POST" action="/bonds/<%=bonds[i]._id%>?_method=DELETE" class="action-button">
              <button>Trade</button>
            </form>
          
          <%}%>
         <%}%>
        </ul>
  </div>
</div><br/>

 <!-- && bonds[i].user === investor._id -->
 <!-- bonds[i].issued === true &&  -->
<nav>
  <a href="/investor/<%=investor._id%>/edit" id="edit">Edit Account</a>
</nav>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>